<h1>Welcome to ReRappel</h1>
<h2>Your source for used climbing gears in San Diego.</h2>
<%= image_tag("evl.jpg", class: "img-responsive") %>
<!-- generates the HTML tag: -->
<a href='/products/'>Show Product</a>