// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_table th {
	padding-right: 1em;
}

.product_grid {
	width: 300px;
}

.product_grid p {
	text-align: center;
}

.product_grid h1 {
	text-align: center;
	font-size: 25px;
}

.product_grid img{
	max-height: 100%;
	max-width: 300px;
}

.product_grid .product_button{
	padding-left: 55px;
	margin: auto;
}

.product_grid a:hover{
    color: blue;
    transition: color 600ms;
    text-decoration: none;
}

.carousel-inner > .item > img {
 	width:640px;
  	height:500px;
}

.carousel_image{
	padding-left: 300px
}