// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1,
h2,
h3 {
    font-family: 'Slabo 27px', serif;
}

h1{
	padding-top: 1.5em;
}

p {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-weight: 200;
}

/* Footer */
footer.container .nav-footer{
  float: left;
}

footer.container .nav-footer a{
  display: inline-block;
  margin:0 5px;
  padding-bottom: 1.5em;
}

footer.container .nav-footer a:first-child{
  margin-left:0;
}

footer.container .footer-copyright{
  float:right;
}

footer.container .footer-social{
  float:right;
  margin:0 5px;
  display: inline-block;
}

/* Typography */
.stevenLiu {
    text-transform: uppercase;
}

.stevenLiu a {
    color: white;
}
